{% extends 'base.client.html.twig' %}

{% block body %}
<div class="container text-center my-5">
    <h1 class="text-danger">Lien invalide</h1>
    <p class="lead">Le lien de supervision est invalide, expiré ou le client est introuvable.</p>
</div>
{% endblock %}
