{% extends 'base.client.html.twig' %}

{% block body %}
<div class="container my-5">

    <input type="hidden" name="token" value="{{ token }}">

    <h4>Dernière étape pour activer votre supervision !</h4>
    <p>Vous y êtes presque ! Avant de finaliser, merci de vérifier que toutes les informations saisies sont
        exactes et conformes à la réalité. Cela nous permet d’assurer une mise en service rapide et sans souci.
        En validant cette étape, vous confirmez l’authenticité de vos données. Toute erreur pourrait
        entraîner des ajustements ou retarder l’activation de votre supervision.
        Merci pour votre confiance, Lodmi s’occupe du reste !
    </p>

    <form method="post" action="{{ path('supervision_step', { step: 2, token: token }) }}">
        <button type="submit" class="btn btn-primary mt-3">Suivant</button>
    </form>
</div>
{% endblock %}