{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container" style="margin-top: 90px; margin-left: 260px;">
    <h1>Bienvenue sur votre Dashboard</h1>
    <p>Contenu du tableau de bord...</p>
</div>
{% endblock %}
