{% extends 'base.client.html.twig' %}

{% block body %}
	<div class="container my-4">
		{% include 'client/form/warning.html.twig' %}
		{% include 'client/form/administration.html.twig' %}
        {% include 'client/form/borne_configuration.html.twig' %}

	</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const nextButtons = document.querySelectorAll('.btn-next');
    const prevButtons = document.querySelectorAll('.btn-prev');

    nextButtons.forEach(button => {
        button.addEventListener('click', () => {
            const currentStep = button.closest('.step');
            const currentStepId = parseInt(button.dataset.step);
            const nextStep = document.querySelector(`#step-${currentStepId + 1}`);

            if (nextStep) {
                currentStep.classList.remove('active');
                nextStep.classList.add('active');
            }
        });
    });

    prevButtons.forEach(button => {
        button.addEventListener('click', () => {
            const currentStep = button.closest('.step');
            const previousStep = currentStep.previousElementSibling;

            if (previousStep && previousStep.classList.contains('step')) {
                currentStep.classList.remove('active');
                previousStep.classList.add('active');
            }
        });
    });
});
</script>

{% endblock %}
