<!DOCTYPE html>
<html>
<head>
    <title>Contrat Validé</title>
</head>
<body>
    <h2>Le contrat du client {{ client.name }} {{ client.lastname }} est validé !</h2>
    <p>Tous les champs ont été remplis avec succès.</p>
    <p>Vous pouvez consulter le PDF joint.</p>
</body>
</html>