<div id="step-3" class="step">
    <div class="form-step choix-step active">
        <h4 class="mb-3">Quel type de configuration souhaitez-vous pour votre borne ?</h4>
        <div class="row" id="choicesContainer">
            {% for type, config in {
                'flotte': {'title': 'Bornes privées', 'desc': 'avec recharge gratuite sans exploitation (véhicules de flotte de fonction et/ou service)'},
                'publique': {'title': 'Bornes publiques', 'desc': 'Combinaison d’usage interne et d’accès public'},
                'mixte': {'title': 'Bornes privées et publiques', 'desc': 'avec recharge gratuite et/ou payante avec exploitation (véhicules de flotte VF et/ou VS + véhicules extérieurs collaborateurs et autres) '}
            } %}
                <div class="col-md-4 mb-3">
                    <div class="option-card p-3" data-value="{{ type }}">
                        <input type="radio" name="choixType" class="d-none" value="{{ type }}">
                        <h5>{{ config.title|raw }}</h5>
                        <p class="mb-0">{{ config.desc }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="step-navigation d-flex justify-content-between">
            <button type="button" class="btn-prev btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Précédent
            </button>
            <button type="button" class="btn-next btn btn-primary" data-step="2">
                Suivant <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>

    <div class="form-step config-step d-none">
        <div id="config-flotte" class="config-content d-none">
            {% include 'client/form/config_flotte.html.twig' %}
        </div>
        <div id="config-publique" class="config-content d-none">
            {% include 'client/form/config_publique.html.twig' %}
        </div>
        <div id="config-mixte" class="config-content d-none">
            {% include 'client/form/config_mixte.html.twig' %}
        </div>

        <div class="mt-4 d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" id="btn-back">Retour</button>
            <button type="submit" class="btn btn-success">Valider</button>
        </div>
    </div>
</div>