<div class="container my-4">
  <p>
    Ces paramètres sont essentiels pour un fonctionnement clair, équitable et conforme.
  </p>

  <p>
    Pour gérer l’exploitation et la refacturation de l’énergie de mes 
    <strong>4 points de charge</strong>, je renseigne les éléments suivants et je paramètre les tarifs d’utilisation.
  </p>

  <h5>Tarification pour les différentes utilisations et utilisateurs :</h5>
  <p>
    <strong>Pour les véhicules de flotte</strong> (véhicules de service et véhicules de fonction), 
    la refacturation s’appliquera automatiquement sur la base du prix d’achat réel de l’électricité 
    <span class="text-primary">+ 0,03 € TTC / kWh</span>.
  </p>
</div>