<div id="step-3" class="step">
    <h1>Coucou</h1>

<div class="step-navigation d-flex justify-content-between">
		<button type="button" class="btn-prev btn btn-secondary" onclick="prevStep()">
			<i class="bi bi-arrow-left"></i>
			Précédent
		</button>
		<button type="button" class="btn-next btn btn-primary" data-step="2">
			Suivant
			<i class="bi bi-arrow-right"></i>
		</button>
	</div>
</div>