<div id="step-1" class="step active">
				<h4>Dernière étape pour activer votre supervision !</h4>
				<div class="mb-3">
					Vous y êtes presque ! Avant de finaliser, merci de vérifier que toutes les informations saisies sont
					exactes et conformes à la réalité. Cela nous permet d’assurer une mise en service rapide et sans
					souci.
					En validant cette étape, vous confirmez l’authenticité de vos données. Toute erreur pourrait
					entraîner des ajustements ou retarder l’activation de votre supervision.
					Merci pour votre confiance, Lodmi s’occupe du reste !
				</div>
				<div class="step-navigation d-flex justify-content-end">
					<button type="button" class="btn-next btn btn-primary" data-step="1">
						Suivant
						<i class="bi bi-arrow-right"></i>
					</button>
				</div>

			</div>