<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contrat - Page 1</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 1123px; /* Hauteur d'une page A4 */
        width: 794px; /* Largeur d'une page A4 */
        margin: 0; /* Supprime les marges par défaut */
        font-family: Arial, sans-serif;
      }

      .container {
        width: 80%;
        padding: 20px;
        border: 2px solid #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      h1 {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>CONTRAT DE SERVICE</h1>
      <p><strong>LODMI</strong></p>
      <p>ET</p>
      <p>
        <strong>{{ client.societyName }}</strong>
      </p>
    </div>
  </body>
</html>
